/secrets/*

.vscode/*     
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Binaries and build files
bin/
obj/

# User-specific files
*.user
*.userosscache
*.suo
*.dbmdl
*.jfm

# Visual Studio cache/options directory
.vs/

# ReSharper cache
_ReSharper*/

# TeamCity configs
_TeamCity*

# Microsoft Azure Build Output
csx/

# StyleCop cache file
StyleCopReport.xml

# Files built by Visual Studio
*.dll
*.exe
*.pdb
*.cache
*.appx
*.ipa
*.apk

# NuGet packages directory (if not using a global packages folder)
packages/

# Other common tools
.DS_Store
*.bak
*.swp
*~
